<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand">Max Ru</a>
    </div>
    <div uib-collapse="$ctrl.isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li class="active">
            <li><a href="/">Home</a></li>
            <li><a href="/">Resume</a></li>
            <li><a href="/">Contact</a></li>
        </li>
      </ul>
    </div>
  </div>
</div>
